.project__parent{
    width: 83.33%;
    margin-right: auto!important;
    margin-left: auto!important;
    flex: 0 0 auto;
}

.description{
    margin: 1em 0px;
}

.articles, .gitHub, .industrial__projects{
    padding: 10px;
}

.github__header{
    text-decoration: underline;
     text-decoration-color: #eec88e;
}

.industrial__header{
    text-decoration: underline;
    text-decoration-color:  #7c9edb;
}
.articles__header{
    text-decoration: underline;
     text-decoration-color: #a364c1;
}

.project__parent a{
    text-decoration: none !important;
}

.Text ul li a{
    color: #4183c4;
    text-decoration: none !important;
}

.Text{
    border: 3px solid white;
    border-color: white;
    border-left-color: #7c9edb;
    border-bottom-color: #7c9edb;
    padding: 10px;
    margin: 10px 5px;
}